body{
   margin: 0;
  
}

h1{
    position: absolute;
    left: 50%;
    transform: translate(-50%);

}

#grid {
    width: 1000px;
    height: 700px;
    border: 1px solid black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
  
.point {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: red;
    position: absolute;
}
  
button{
    color: white;
    background-color: black;
}
