canvas {
    background-image: url('https://www.freeworldmaps.net/printable/worldmap-countries-hd.jpg');
    background-size: 1000px 600px ;
    background-color: #F7F7F7;
    margin-left: 16%;
    
}
*{
    margin: 0;
    padding: 0px;
    box-sizing: border-box; 
/*     background-color: #393E46; */
}

.AntGround{
    position: relative;
    width: 100%;
    height: 100vh;
    background: #111;
    color: #fff;
    overflow: hidden;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(/img/Space.jpg);
 }
h2{
    padding: 20px;
    text-align: center;
    font-weight: bold;
    margin: 0;
    font-size: 20px;
    cursor: pointer;
}

header{
    justify-content: space-between;
    align-items: center;
    display: flex;
    flex-direction: row;
    background: black;
    box-shadow: 0 0 3px black;
    font-family: 'Kanit', sans-serif;
    padding: 5px 100px;
}

header .element {
    display:flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    margin: 0 10px;
}

header img{
    width: 64px;
    height: 64px;
}

header .end {
    padding: 10px;
    display: inherit;
    margin-left: auto;
}

header .end img {
    width: 48px;
    height: 48px;
}

a{
    position: relative;
    text-decoration: none;
    font-family: sans-serif;
    color: #a0a0a0;
    letter-spacing: 0.5px;
    
}

a:after{
    content: "";
    position: absolute;
    background-color: #e7e2e4;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}

a:hover{
    color: #fff;
}

a:hover::after{
    width: 100%;
}

ul{
    list-style: none;
}

.tasks_list{
    padding: 15px;
    display:flex;
    gap: 4rem;
    font-size: 25px;
    font-weight: 700;
}
.control{
    display: flexbox;
    flex-direction: column;
    line-height: 12px;
    padding-left: 5%;
    font-size: 8pt;
    font-family: tahoma;
    margin-top: 1px;
    margin-right: 2px;
    top:0;
    right:0;
    color: white;
  


}

#distance-label{
    display: flexbox;
    flex-direction: column;
    line-height: 12px;
    padding-left: 5%;
    font-size: 8pt;
    font-family: tahoma;
    margin-top: 1px;
    margin-right: 2px;
    top:0;
    right:0;
    color: white;
}
.btn{
    position:relative;
    display:inline-block;
    padding: 25px 30px;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #6D9886;
    font-size: 1.2rem;
    font-weight: bold;
    transition: 0.5s;
    overflow: hidden;
    margin-right: 50 px;
    border: black;



}
