body{
    background-image: url(https://media.istockphoto.com/id/498478219/photo/stars-at-night-sky.jpg?b=1&s=612x612&w=0&k=20&c=JtQpCgYYSyiF63fgKDtsa8fSvVhf_QjkSN_Y0gIiICs=);
    margin: 0;
    padding: 0;
}

canvas {
    position: fixed;
    margin-top: 120px;
    right: 400px;

}

input{
    cursor: pointer;
}

button {
    border: none;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 5px;
    font-size: 4vh;
    cursor: pointer;
    padding: 2px 8px;
    width: 28%;
    appearance: auto;
    text-rendering: auto;
    text-transform: none;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    box-sizing: border-box;
    font: 400 15px Arial;
}

#size {
    left: 50%;
    transform: translate(-50%);
    bottom:85%;
}


#control_panel {
    top: 35%;
    right: 76%;
}

#parameter_panel{
    top: 19%;
    right: 76%;
}

#command_panel{
    top: 19%;
}


#numb{
    width: 45px;
}


.number {
    width: 2em;
}


.panel{
    position: fixed;
    padding: 20px;
    background-color: rgba(128, 121, 121, 0.6);
    color: #000000;
    border-radius: 8px;
    font-size: 25px;
    
}

.right_panel{
    width: 300px;
    right: 20px;
}

.header_title{
    font-size: 150%;
    font-weight: bold;
    padding-bottom: 5px;
    margin-top: -10px;
}

.sub_option{
    padding: 2px;
    font-size: 20px;
    margin-top: 2px;
    margin-right: 30px;
    margin-left: 30px;
    line-height: 1.7;
    font-family: Arial, Helvetica, sans-serif;
}


.next{
    position: absolute;
    left: 88%;
    bottom: 90%;
    font-size: 30px;
    width: 140px;
    height: 40px;
    color: rgb(0, 0, 0);
    background-color: rgb(124, 119, 119);
    border-radius: 0 100% 100% 0;
}